.page {
  max-width: 1280px;
  margin: auto; }
  .page .header {
    height: 58px; }
    .page .header > :first-child {
      float: left;
      margin-left: 59px;
      padding-left: 42px;
      font: 21px/58px "SimHei Regular", "SimHei", sans-serif;
      color: #3a3a3a;
      background: url("./images/sprite.png") 0 13px; }
    .page .header .login {
      margin-left: 7px;
      margin-right: 56px;
      padding-left: 20px;
      float: right;
      background: url("./images/sprite.png") -247px 19px no-repeat;
      font: 14px/54px "Microsoft YaHei Regular", "Microsoft YaHei", sans-serif;
      color: #e7504d; }
    .page .header > :last-child {
      float: right;
      font: 14px "Microsoft YaHei Regular", "Microsoft YaHei", sans-serif;
      color: #797b83; }
    .page .header ul {
      list-style: none;
      margin: 0; }
    .page .header li {
      display: inline-block;
      line-height: 54px;
      margin: 0 7px;
      padding: 0 15px;
      cursor: pointer; }
    .page .header li.active {
      color: #e7504d;
      border-bottom: 4px solid #e7504d; }
  .page .banner {
    height: 690px;
    background-image: url("./images/banner.jpg"); }
    .page .banner div {
      padding-left: 117px;
      padding-top: 228px;
      font-family: "Microsoft YaHei Regular", "Microsoft YaHei", sans-serif;
      line-height: 1;
      color: white; }
      .page .banner div h1 {
        font-size: 60px;
        font-weight: lighter;
        margin: 0 0 30px 0; }
      .page .banner div p {
        font-size: 21px;
        line-height: 16px;
        font-weight: lighter;
        margin: 16px 0 0; }
      .page .banner div button {
        margin-top: 66px;
        border: 0;
        padding: 16px 100px;
        text-align: center;
        background: #e7504d;
        font-size: 30px; }
  .page .feat {
    height: 250px; }
    .page .feat p {
      margin: 0;
      float: left;
      padding: 132px 83px 0;
      width: 153px;
      font: 14px/18px "SimHei Regular", "SimHei", sans-serif;
      color: #767777;
      text-align: center; }
    .page .feat p:first-child {
      background: url("./images/feat1.png") no-repeat 145px 45px; }
    .page .feat p:nth-child(3) {
      background: url("./images/feat2.png") no-repeat 145px 45px; }
    .page .feat p:nth-child(5) {
      background: url("./images/feat3.png") no-repeat 145px 45px; }
    .page .feat p:last-child {
      background: url("./images/feat4.png") no-repeat 145px 45px; }
    .page .feat p:first-child, .page .feat p:last-child {
      width: 152px; }
    .page .feat div {
      margin-top: 132px;
      float: left;
      height: 51px;
      border-left: 1px solid #aba6a5;
      border-right: 1px solid #bcb8b6; }
  .page .slogan {
    height: 360px;
    background: #ededec; }
    .page .slogan img {
      display: block;
      margin: auto;
      padding-top: 90px; }
    .page .slogan p {
      width: 100%;
      margin: 40px 0;
      font: 54px "SimHei Regular", "SimHei", sans-serif;
      color: #867e7a;
      text-align: center; }
  .page .search {
    height: 340px;
    background: grey url("./images/map.jpg"); }
    .page .search h1 {
      width: 400px;
      margin: auto;
      padding: 53px 0 10px;
      text-align: center;
      color: white;
      font: 21px "Microsoft YaHei Regular", "Microsoft YaHei", sans-serif; }
    .page .search .line {
      width: 30px;
      margin: auto;
      border-top: 2px white solid;
      border-bottom: 1px white solid; }
    .page .search p {
      width: 600px;
      margin: 20px auto 52px;
      text-align: center;
      color: white;
      font: 12px/1 "Microsoft YaHei Regular", "Microsoft YaHei", sans-serif; }
    .page .search > :last-child {
      width: 1028px;
      margin: auto; }
    .page .search .select {
      position: relative;
      float: left;
      width: 222px;
      height: 35px;
      margin-right: 31px;
      padding-left: 12px;
      background: white url("./images/sprite.png") no-repeat -40px -40px;
      font: 12px/35px "Microsoft YaHei Regular", "Microsoft YaHei", sans-serif;
      color: #a8aaab; }
    .page .search .select.active {
      width: 220px;
      border: 1px solid #be4f48;
      border-bottom: 0; }
    .page .search ul {
      position: absolute;
      top: 35px;
      left: -1px;
      width: 232px;
      margin: 0 0;
      padding: 0 0 13px;
      border: 1px solid #be4f48;
      border-top: 0;
      list-style: none;
      background: #e3e3e4; }
    .page .search li {
      padding-left: 32px;
      font: 12px/26px "Microsoft YaHei Regular", "Microsoft YaHei", sans-serif;
      color: #333; }
    .page .search li.active {
      background: #be4f48 url("./images/sprite.png") no-repeat -239px -174px;
      color: white; }
    .page .search button {
      width: 233px;
      height: 35px;
      border: 0;
      padding: 0;
      text-align: center;
      background: #be4f48;
      font: 14px/35px "Microsoft YaHei Regular", "Microsoft YaHei", sans-serif;
      color: white; }
  .page .activities {
    height: 605px;
    background: #f7f7f7; }
    .page .activities .beijing .pic {
      background: url("./images/pic1.jpg") 8px 12px no-repeat white; }
    .page .activities .shanghai .pic {
      background: url("./images/pic2.jpg") 8px 12px no-repeat white; }
    .page .activities .shenzhen .pic {
      background: url("./images/pic3.jpg") 8px 12px no-repeat white; }
    .page .activities .hongkong .pic {
      background: url("./images/pic4.jpg") 8px 12px no-repeat white; }
    .page .activities > div {
      float: left;
      margin: 100px 36px 0 0;
      width: 219px;
      text-align: center; }
      .page .activities > div div {
        background: #fff;
        border: 1px #e0dddd solid;
        height: 336px; }
    .page .activities > div:first-child {
      margin-left: 148px; }
    .page .activities h2 {
      margin: 12px;
      font: 14px "SimHei Regular", "SimHei";
      color: #333; }
    .page .activities .shanghai {
      width: 220px; }
      .page .activities .shanghai h2 {
        margin: 0;
        font: 21px "SimHei Regular", "SimHei";
        word-spacing: 1.3em; }
    .page .activities p {
      margin: 8px 0;
      font: 12px "SimHei Regular", "SimHei";
      color: #968e8a; }
  .page .grid {
    height: 1086px; }
    .page .grid > div {
      float: left;
      width: 425px;
      height: 565px;
      text-align: center; }
    .page .grid > div.lower {
      height: 521px; }
    .page .grid > div:first-child {
      position: relative;
      width: 850px;
      background: url("./images/pic7.jpg");
      color: white; }
      .page .grid > div:first-child h1 {
        margin: 130px 0 0;
        font: 49px/1 "Microsoft YaHei Regular", "Microsoft YaHei", sans-serif; }
      .page .grid > div:first-child h2 {
        margin: 0;
        font: 158px/1 "Microsoft YaHei Regular", "Microsoft YaHei", sans-serif; }
      .page .grid > div:first-child p {
        margin: 0;
        font: 22px/43px "Microsoft YaHei Regular", "Microsoft YaHei", sans-serif; }
      .page .grid > div:first-child div {
        position: absolute;
        top: 268px;
        right: 0;
        border-top: 15px solid transparent;
        border-right: 24px solid white;
        border-bottom: 15px solid transparent;
        border-left: 0; }
    .page .grid > div:nth-child(2) .title {
      margin: 165px auto 0;
      width: 104px;
      height: 20px;
      background: url("./images/sprite.png") 0 -174px; }
    .page .grid > div:nth-child(2) p {
      width: 288px;
      margin: 30px auto 50px;
      text-align: left;
      font: 12px/30px "SimSun Regular", "SimSun", sans-serif;
      color: #aaa; }
    .page .grid > div:nth-child(2) button {
      width: 104px;
      height: 31px;
      padding: 0;
      border: 1px solid #e46868;
      background: #fff;
      font: 12px/31px "Microsoft YaHei Regular", "Microsoft YaHei", sans-serif;
      color: #e25d60; }
    .page .grid > div:nth-child(2) .dots {
      margin: 25px auto;
      width: 60px; }
    .page .grid > div:nth-child(2) .dot {
      float: left;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      border: 1px solid #929292; }
    .page .grid > div:nth-child(2) .dot:nth-child(2) {
      margin: 0 15px; }
    .page .grid > div:nth-child(2) .dot.active {
      background: #929292; }
    .page .grid > div:nth-child(3) {
      background: #e7504d;
      color: white; }
      .page .grid > div:nth-child(3) h1 {
        margin: 172px 0 0; }
      .page .grid > div:nth-child(3) h2 {
        margin: 0 0 25px; }
      .page .grid > div:nth-child(3) h1, .page .grid > div:nth-child(3) h2 {
        font: 21px/1.5 "SimHei Regular", "SimHei", sans-serif; }
      .page .grid > div:nth-child(3) div {
        width: 30px;
        margin: 0 auto 25px;
        border: 1px solid white; }
      .page .grid > div:nth-child(3) button {
        width: 167px;
        height: 41px;
        border: 1px white solid;
        padding: 0;
        background: #e7504d;
        font: 21px/41px "SimHei Regular", "SimHei", sans-serif; }
    .page .grid > div:nth-child(4) {
      color: #333; }
      .page .grid > div:nth-child(4) h1 {
        margin: 172px 0 0; }
      .page .grid > div:nth-child(4) h2 {
        margin: 0 0 25px; }
      .page .grid > div:nth-child(4) h1, .page .grid > div:nth-child(4) h2 {
        font: 21px/1.5 "SimHei Regular", "SimHei", sans-serif; }
      .page .grid > div:nth-child(4) div {
        width: 30px;
        margin: 0 auto 25px;
        border: 1px solid #abaaaa; }
      .page .grid > div:nth-child(4) button {
        width: 167px;
        height: 41px;
        border: 1px #e7504d solid;
        padding: 0;
        background: #fff;
        font: 21px/41px "SimHei Regular", "SimHei", sans-serif;
        color: #e7504d; }
    .page .grid > div:last-child {
      position: relative;
      background: url("./images/pic8.jpg"); }
      .page .grid > div:last-child div {
        position: absolute;
        top: 244px;
        border-left: 24px solid white;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 0; }
    .page .grid > div.right {
      width: 430px; }
  .page .form h1 {
    margin: 118px auto 0;
    padding: 0;
    font: 21px/1.5 "SimHei Regular", "SimHei", sans-serif;
    color: #333;
    text-align: center; }
  .page .form > div:nth-child(2) {
    width: 30px;
    height: 2px;
    margin: 0 auto 12px;
    background: #e7504d;
    border: 0; }
  .page .form > p {
    margin: 0;
    padding: 0;
    font: 12px/1.5 "Microsoft YaHei Regular", "Microsoft YaHei", sans-serif;
    color: #aaa;
    text-align: center; }
  .page .form > div:last-child {
    height: 285px;
    margin-top: 105px;
    margin-bottom: 163px; }
    .page .form > div:last-child > div {
      float: left;
      width: 362px;
      margin-left: 138px; }
    .page .form > div:last-child form {
      float: left;
      width: 780px; }
      .page .form > div:last-child form div {
        padding-left: 21px;
        background: #ededee; }
      .page .form > div:last-child form input {
        margin: 0 14px 13px 0;
        padding: 0 0 0 21px;
        width: 290px;
        height: 40px;
        border: 0;
        background: #ededee;
        font: 12px "SimSun Regular", "SimSun"; }
      .page .form > div:last-child form textarea {
        width: 619px;
        height: 110px;
        padding: 10px 0 0 21px;
        border: 0;
        background: #ededee;
        font: 12px "SimSun Regular", "SimSun"; }
      .page .form > div:last-child form button {
        margin-top: 10px;
        width: 640px;
        height: 40px;
        background: #ededee;
        border: 0;
        font: 14px "SimHei Regular", "SimHei";
        color: #333; }
  .page .form section {
    position: relative;
    width: 290px;
    height: 110px; }
    .page .form section p {
      font: 12px/21px "SimSun Regular", "SimSun";
      color: #231916; }
    .page .form section div {
      padding-left: 17px;
      font: 12px/1 "SimSun Regular", "SimSun";
      position: absolute;
      right: 0;
      bottom: 20px;
      background: url("./images/sprite.png") 0 -52px; }
  .page .form section:first-child {
    height: 130px; }
    .page .form section:first-child div {
      bottom: 40px; }
  .page .form section:last-child div {
    bottom: 76px; }
  .page .form h2 {
    margin: 0 0 24px;
    font: 14px/1 "SimHei Regular", "SimHei";
    color: #231916; }
  .page .contact {
    background: #33363f;
    color: white;
    text-align: center;
    overflow: auto; }
    .page .contact h1 {
      margin: auto;
      padding: 90px 0 6px;
      font: 21px "SimHei Regular", "SimHei"; }
    .page .contact p {
      width: 468px;
      margin: auto;
      font: 12px/18px "SimSun Regular", "SimSun"; }
    .page .contact form {
      margin-top: 30px; }
    .page .contact input {
      width: 430px;
      height: 40px;
      padding: 0 0 0 9px;
      border: 1px solid #90888a; }
    .page .contact button {
      width: 80px;
      height: 42px;
      border: 0;
      margin: 0 0 0 -4px;
      padding: 0;
      background: #696266;
      font: 15px "Microsoft YaHei Regular", "Microsoft YaHei";
      word-spacing: 0.6em;
      vertical-align: -1px; }
    .page .contact .social-icons {
      width: 184px;
      height: 25px;
      margin: 37px auto 72px;
      background: url("./images/sprite.png") 0 -96px; }
  .page footer {
    height: 57px;
    background: #303039;
    color: white;
    font: 12px "SimSun Regular", "SimSun"; }
    .page footer :first-child {
      float: left;
      margin: 29px 100px 0; }
    .page footer :last-child {
      margin: 29px 40px 0;
      float: right; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visability: hidden; }

/*# sourceMappingURL=index.css.map */
